AWSTemplateFormatVersion: '2010-09-09'

# Parameters:

Resources:

  ClickStreamApiGatewayKinesisRole:
    Type: "AWS::IAM::Role"
    Properties:
      RoleName: ClickStreamApiGatewayKinesisRole
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          -
            Effect: "Allow"
            Principal:
              Service:
                - "apigateway.amazonaws.com"
            Action: "sts:AssumeRole"
      Policies:
        -
          PolicyName: "PutToKinesisClickStream"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              -
                Effect: "Allow"
                Action: "kinesis:PutRecord"
                Resource:  !GetAtt ["ClickStreamKinesisStream", "Arn"]

  ClickStreamKinesisStream:
    Type: "AWS::Kinesis::Stream"
    Properties:
      Name: clickstream-kinesisstream
      ShardCount: 2
      Tags:
        - Key: Name
          Value: clickstream-kinesisstream

  ClickStreamApiGateway:
    Type: "AWS::ApiGateway::RestApi"
    Properties:
      Name: ClickStreamApiGateway
      Description: "The Rest API definition for receiving click stream events"
      FailOnWarnings: true
      Body:
        {{params.swagger_def}}

  #Firehose to Data lake
  EventS3Bucket:
    Type: AWS::S3::Bucket
    # DeletionPolicy: Retain #i.e. retain the bucket when the stack is deleted
    Properties:
      BucketName: rhysc-clickstream-raw-events
      VersioningConfiguration:
        Status: Enabled

  ClickStreamFirehoseToS3Role:
    Type: "AWS::IAM::Role"
    Properties:
      RoleName: ClickStreamFirehoseToS3Role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          -
            Effect: "Allow"
            Principal:
              Service:
                - "firehose.amazonaws.com"
            Action: "sts:AssumeRole"
            Condition:
              StringEquals:
                "sts:ExternalId": "032574790532"
      Policies:
        -
          PolicyName: "ClickStreamFirehoseToS3Policy"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              -
                Effect: "Allow"
                Action:
                  - "s3:PutObject"
                  - "s3:AbortMultipartUpload"
                  - "s3:GetBucketLocation"
                  - "s3:GetObject"
                  - "s3:ListBucket"
                  - "s3:ListBucketMultipartUploads"
                Resource: "arn:aws:s3:::rhysc-clickstream-raw-events/*"

  ClickStreamFirehose:
    Type: "AWS::KinesisFirehose::DeliveryStream"
    Properties:
      DeliveryStreamName: clickstream-firehose
      S3DestinationConfiguration:
        BucketARN:
          Fn::Join:
            - ''
            - - 'arn:aws:s3:::'
              - Ref: EventS3Bucket
        BufferingHints:
          IntervalInSeconds: 60
          SizeInMBs: 2
        CompressionFormat: GZIP
        Prefix: "ClickStreamfirehose/"
        RoleARN: !GetAtt ["ClickStreamFirehoseToS3Role", "Arn"]

  ClickStreamLambdaToFirehoseRole:
    Type: "AWS::IAM::Role"
    Properties:
      RoleName: ClickStreamLambdaToFirehoseRole
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          -
            Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action: "sts:AssumeRole"
      Policies:
        -
          PolicyName: "ClickStreamLambdaToFirehosePolicy"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              -
                Effect: "Allow"
                Action:
                  - "kinesis:GetRecords"
                  - "kinesis:GetShardIterator"
                  - "kinesis:DescribeStream"
                  - "kinesis:ListStreams"
                Resource: !GetAtt ["ClickStreamKinesisStream", "Arn"]
              -
                Effect: "Allow"
                Action:
                  - "firehose:PutRecord"
                  - "firehose:PutRecordBatch"
                Resource:
                  Fn::Join:
                    - ''
                    - - 'arn:aws:firehose:'
                      - Ref: "AWS::Region"
                      - ":"
                      - Ref: "AWS::AccountId"
                      - ":deliverystream/clickstream-firehose"
              -
                Effect: "Allow"
                Action:
                  - "logs:CreateLogGroup"
                  - "logs:CreateLogStream"
                  - "logs:PutLogEvents"
                Resource: "*"

  ClickStreamLambda:
    Type: "AWS::Lambda::Function"
    Properties:
      FunctionName: ClickStreamKinesisToFirehose
      Handler: "index.handler"
      Role:
        Fn::GetAtt:
          - "ClickStreamLambdaToFirehoseRole"
          - "Arn"
      Code:
        ZipFile:
          Fn::Join:
            - "\n"
            - - ""
{{params.lambda_code}}
      Runtime: "nodejs4.3"
      Timeout: "25"

Outputs:
  ClickStreamApiGatewayOutput:
    Description: "The ClickStream Api Gateway"
    Value: !Ref ClickStreamApiGateway
    Export:
      Name: !Sub "corp-clickstream-apigateway"
  ClickStreamKinesisStreamOutput:
    Description: "The ClickStream Kinesis stream"
    Value: !Ref ClickStreamKinesisStream
    Export:
      Name: !Sub "corp-clickstream-kinesis-stream"
  ClickStreamFirehoseOutput:
    Description: "The ClickStream Kinesis firehose stream"
    Value: !Ref ClickStreamFirehose
    Export:
      Name: !Sub "corp-clickstream-kinesis-firehose"
  ClickStreamEventS3BucketOutput:
    Description: "The ClickStream s3 bucket that will make up part of your data lake"
    Value: !Ref EventS3Bucket
    Export:
      Name: !Sub "corp-clickstream-s3-bucket"
